body{
    -webkit-text-stroke: 3px black;
    background-color: white;
    border-color: black;
    color: rgb(16, 92, 233);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.game_title{
    text-align: center;
    background-color: white;
    border-radius: 0.5cm;
    border-color: black;
    border-style:groove;
    margin-left: auto;
    margin-top: 1cm;
    margin-right: auto;
    max-width: 30cm;
    
    font-size: 100px;

}

#button-box{
    margin-top: 6cm;
    display: flex;
    justify-content: center;
    align-self: center;
    
}

.button{
    -webkit-text-stroke: 2px black;
    border-radius: 0.1cm;
    border-style:groove;
    color: rgb(16, 92, 233);
    height: 100px;
    width: 300px;
    margin: 1cm;
    font-size: 75px;
    visibility: hidden;
}

#result{
    display: flex;
    flex-direction: column;
    font-size: 50px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#results{
    margin-top: 6cm;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 3cm;
    font-size: 100px;
    -webkit-text-stroke: 3px black;
}

#choices{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.choice-box{
    display: flex;
    justify-content: center;
    max-height: 200px;
    width: 350px;

}

.player-info{
    display: flex;

    border-radius: 0.5cm;
    border-color: black;
    border-style:groove;
    background-color: white;

    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 45px;
    margin-left: 2cm;
    margin-right: 2cm;
}

#start_game{
    font-size: 40px;
    visibility: visible;
}

.image{
    max-height: 200px;
    max-width: 200px;
}
